@import "@/shared/styles/mixins.scss";

.header {
    background: rgba(5, 18, 27, 0.6);
    backdrop-filter: blur(20px);
    position: fixed;
    width: 100%;
    z-index: 999;

    &__height {
        height: 90px;

        @include media-breakpoint-xxxl {
            height: 70px;
        }
    }

    &__inner {
        height: 90px;
        max-width: 1800px;
        padding: 0 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        color: white;

        @include media-breakpoint-xxxl {
            height: 70px;
            padding: 0 70px;
        }

        @include media-breakpoint-xxl {
            padding: 0 50px;
        }

        @include media-breakpoint-xl {
            padding: 0 30px;
        }

        &_logo {
            width: 145px;
            height: 40px;
            margin-right: 5%;
            cursor: pointer;

            & > img {
                width: 100%;
                height: 100%;
            }

            @include media-breakpoint-xxxl {
                width: 110px;
                height: 30px;
            }
        }

        &_nav {
            width: 35%;
            display: flex;
            justify-content: space-between;

            @include media-breakpoint-xxxl {
                width: 32%;
            }

            @include media-breakpoint-xxl {
                width: 40%;
            }

            @include media-breakpoint-lg {
                display: none;
            }
        }

        &_search {
            width: 20%;
            margin-left: auto;
            margin-right: 1.5%;

            @include media-breakpoint-xxxl {
                width: 24%;
            }

            @include media-breakpoint-lg {
                width: 300px;
            }

            @include media-breakpoint-md {
                display: none;
            }
        }

        &_signIn {
            @include media-breakpoint-lg {
                display: none;
            }
        }

        &_notifications {
            margin-right: 1.5%;
        }

        &_mobile {
            &_nav {
                display: none;
                cursor: pointer;

                @include media-breakpoint-lg {
                    display: block;
                }
            }
            &_icon {
                display: none;
                cursor: pointer;

                @include media-breakpoint-lg {
                    display: block;
                    width: 32px;
                    height: 32px;
                    margin-left: auto;
                }
            }
        }
    }
}
