@import '@/shared/styles/mixins';

.details {
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 60px 50px 50px 50px;
  position: relative;

  @include media-breakpoint-md {
    width: calc(100vw - 4px);
    padding: 20px 0 40px 16px;
    transform: translateX(-16px);
    margin-top: 20px;
  }

  &__imageWrapper {
    max-width: 814px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__playBtn {
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
    box-shadow: 0 5px 20px 1px rgba(0, 135, 211, 0.4);

    svg {
      width: 15px;
      height: 15px;
      margin-left: 3px;
    }
  }

  &__body {
    display: flex;
    gap: 30px;

    @include media-breakpoint-lg {
      flex-direction: column;
    }

    @include media-breakpoint-md {
      gap: 20px;
    }
  }

  &__info {
    max-height: 700px;
    overflow: auto;
    padding-right: 30px;

    @include media-breakpoint-lg {
      max-height: unset;
      padding-right: 0;
    }

    &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: $text-color-1;
      margin: 0;

      @include media-breakpoint-lg {
        display: none;
      }

      &__mobile {
        display: none;

        @include media-breakpoint-lg {
          display: block;
          font-weight: 500;
          font-size: 23px;
          line-height: 28px;
          margin: 0;
          color: $text-color-1;
        }
      }
    }

    &__description {
      font-size: 18px;
      line-height: 24px;
      color: $text-color-1;
      margin: 20px 0 0;
      border-bottom: 1px solid $stroke-color-2;
      padding-bottom: 20px;

      @include media-breakpoint-md {
        font-size: 16px;
        line-height: 22px;
        margin: 0;
      }
    }
  }

  &__ball_bottom {
    position: absolute;
    left: -120px;
    bottom: -150px;

    svg {
      width: 206px;
      height: 206px;
    }

    @include media-breakpoint-lg {
      left: -45px;
      bottom: -70px;

      svg {
        width: 108px;
        height: 108px;
      }
    }

    @include media-breakpoint-md {
      display: none;
    }
  }
}
