@import '@/shared/styles/mixins.scss';

.login-page-wrapper {
  background: url('../../../../resources/images/authBackground.png');
  background-repeat: no-repeat;
  background-position-x: calc(35vw - 5%);
  background-position-y: center;
  background-attachment: fixed;
  background-size: auto auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 0;
  @include media-breakpoint-md() {
    background: $color-bg;
    padding: 0;
  }
}
