@import '@/shared/styles/mixins';

.result {
  margin-top: 50px;

  @include media-breakpoint-md {
    margin-top: 0;
  }

  &__title {
    color: $white;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $stroke-color-2;

    @include media-breakpoint-md {
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
    }
  }

  &__grid {
    margin-top: 50px;
    @include grid;

    @include media-breakpoint-md {
      margin-top: 30px;
    }
  }
}
